Imports

In [1]:
import sys
from pathlib import Path

repo_root = Path().resolve()

sys.path.append(str(repo_root))
sys.path.append(str(repo_root / "src"))

print("Repo root:", repo_root)
print("Python path now includes src:", repo_root / "src")

Repo root: C:\Users\warre\OneDrive\Desktop\dsci510_fall2025_final_project
Python path now includes src: C:\Users\warre\OneDrive\Desktop\dsci510_fall2025_final_project\src

In [2]:
from src.load import load_cms_data
from src.load_hospital_info import load_hospital_info
from src.merge_cms import merge_cms_datasets
from src.load_additional import load_kaggle_readmissions
from src.clean_data import clean_kaggle_data
from src.model import train_models
from src.analyze_cms import analyze_cms_data

Load CMS & Analysis

In [3]:
df_cms = merge_cms_datasets()
analyze_cms_data()
df_cms.head()

Loaded 18510 rows from CMS API CSV data
Loaded 5421 rows from CMS Hospital General Info API
Merged CMS dataset shape: (14910, 49)
Loaded 18510 rows from CMS API CSV data
Loaded 5421 rows from CMS Hospital General Info API
Merged CMS dataset shape: (14910, 49)
CMS analysis complete. Plots saved in /results/.

,Facility Name_x,Facility ID,State_x,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,SHANDS JACKSONVILLE,100001,FL,READM-30-PN-HRRP,240.0,NaN,1.0077,18.9435,18.7994,46,...,0,10,0,NaN,8,8,NaN,12,11,NaN
1,SHANDS JACKSONVILLE,100001,FL,READM-30-HIP-KNEE-HRRP,NaN,1.0,NaN,NaN,NaN,NaN,...,0,10,0,NaN,8,8,NaN,12,11,NaN
2,SHANDS JACKSONVILLE,100001,FL,READM-30-HF-HRRP,430.0,NaN,0.9639,20.3806,21.1444,85,...,0,10,0,NaN,8,8,NaN,12,11,NaN
3,SHANDS JACKSONVILLE,100001,FL,READM-30-COPD-HRRP,119.0,NaN,1.1418,24.4220,21.3887,38,...,0,10,0,NaN,8,8,NaN,12,11,NaN
4,SHANDS JACKSONVILLE,100001,FL,READM-30-CABG-HRRP,NaN,NaN,0.9958,10.9852,11.0320,Too Few to Report,...,0,10,0,NaN,8,8,NaN,12,11,NaN

Loading & cleaning Kaggle Data

In [4]:
df_raw = load_kaggle_readmissions()
df_clean = clean_kaggle_data(df_raw)
train_models(df_clean)

Loaded Kaggle readmissions dataset: 25000 rows
Cleaning done. Dataset shape: (25000, 17)
Categorical columns encoded: ['medical_specialty', 'diag_1', 'diag_2', 'diag_3', 'glucose_test', 'A1Ctest', 'change', 'diabetes_med']
Logistic Regression Accuracy: 0.6134
Random Forest Accuracy: 0.6034
Modeling complete. Plots saved in /results/.

Train Models

In [5]:
train_models(df_clean)

Logistic Regression Accuracy: 0.6134
Random Forest Accuracy: 0.6034
Modeling complete. Plots saved in /results/.